@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lato&family=Poppins:ital,wght@1,300&family=Shizuru&display=swap');

.mainContent {
  --dark-bg: #262626;
  --gray-1: #BCB4B4;
  --deep-dark: #1E1E1E;
  --gray-2: #363636;
  --white : white;
  --black: black;
  overflow: hidden;
}

.imgMonkey {
  width: 50px;
}

.textFree {
  font-weight: bold;
}

.greenText {
  color: #118C4F;
}

.aboutLogoContainer {
  display: flex;
  justify-content: flex-start;
}

.socialMediaContainer {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.networkContainer {
  font-weight: bold;
  padding: 20px;
  background-image: linear-gradient(to right, #3A5165, #030303);
  border-radius: 20px;
  color: #fff;
  text-align: start;
  line-height: 1.5;
}

.socMedIconContainer {
  padding: 7px;
  border-radius: 50%;
  background-color: #0070f3;
}

.socMedIconContainer:first-of-type {
  margin-right: 10px;
}

.socMedIconContainer:last-of-type {
  margin-left: 10px;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home {
  height: 80vh;
}

.mintInfoPage {
  height: 100vh;
  background-image: url('/images/bg-escape.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.mintInfoContent {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.mintInfoAndBtn {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navlinkContainer {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #888888;
  justify-content: center;
  align-items: center;
  background-color: #888888;
  color: #fff;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoName {
  color: #fff;
  margin-left: 5px;
  font-size: 20px;
}

.navbar {
  /* object-fit: 100%; */
  width: 100vw;
  z-index: 2;
  position: fixed;
  padding-top: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  padding-bottom: 10px;
}

.insideNavbar {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.navlink {
  color: #949494;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border-bottom: 1px solid transparent;
}

.navlink:hover {
  color: #0AC593;
  border-bottom: 1px solid #0AC593;
}

.navlink {
  margin-right: 60px;
}

.connectWalletBtn {
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
  border: 2px solid #888;
  transition: all 0.5s ease-in-out;
}

.connectWalletBtn:hover {
  background: #3AD3CD;
}

.header {
  padding-top: 90px;
  height: 80vh;
}

.headerCaption {
  max-width: 1200px;
  margin: 0 auto;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.caption {
  visibility: hidden;
  font-size: 45px;
  font-weight: bold;
}

.secondCaption {
  font-size: 20px;
  color: #949494;
}

.secondCaptionContainer {
  visibility: hidden;
  margin: 30px 0;
  text-align: center;
}

.captionSpan {
  color: #fff;
}

.caption:nth-last-of-type(0) {
  margin-top: 20px;
}

.captionLogoContainer {
  position: relative;
}

.discoverBtn {
  display: inline-block;
  background-color: #000000;
  color: #fff;
  padding: 20px 40px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border: 2px solid #888;
  font-size: 30px;
  margin-bottom: 20px;
}

.mintInfoGifs {
  display: grid;
  margin-top: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.verticalElement {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  box-shadow: 0 !important;
}

.discoverBtn:hover {
  background: #3AD3CD;
}

.headerImages {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  visibility: hidden;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.wrapper {
  position: relative;
  width: 250px; 
  height: 250px;
  background: #fe9c8f;
}

.wrapper:nth-of-type(2) {
  margin-top: 40px;
}

.wrapper span {
  position: absolute;
}

.wrapper span:first-child {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(10deg);
  background: #feb2a8;
  width: 100%;
  height: 100%;
  transition: all .5s ease-in-out;
}

.wrapper:hover span:first-child {
  transform: translate(-50%, -50%) rotate(-10deg);
}

.wrapper span:nth-child(2) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 83%;
  height: 83%;
  background: transparent;
  border: 2px solid #fec8c1;
  transition: all .5s ease-in-out;
}

.wrapper:hover span:nth-child(2) {
  transform: translate(-50%, -50%) rotate(-45deg); 
}

.wrapper .videoBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
}

.wrapper .videoBox video {
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: 100%;
  border-radius: 5px;
}

#aboutPage {
  background-image: url('/images/BG2-01.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 130vh;
  width: 100vw;
  background-color: #000;
}

.aboutContainer {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  height: 100%;
  line-height: 1.5;
}

.aboutVideo,
.mintVideo {
  width: 250px;
  border: 2px solid #888;
  margin-bottom: 10px;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
  visibility: hidden;
}

.imgContainer img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.imgCard:nth-of-type(1) {
  padding-bottom: 180px;
  margin-right: 30px;
}

.imgCard:nth-of-type(2) {
  padding-top: 180px;
  margin-left: 30px;
}

.imgAuthor {
  margin-top: 10px;
  display: flex;
}

.authorContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 10px;
}

.aboutCaptionContainer {
  color: #fff;
  width: 100%;
  margin: 50px 0 0 100px;
}

.insideCaption {
  background-image: linear-gradient(to right, #3A5165, #030303);
  border-radius: 20px;
  padding: 10px;
}

.captionTitle {
  font-size: 55px;
  font-family: 'Shizuru', cursive;
}

.captionSubtitle {
  font-size: 30px;
}

.captionBlockchain {
  padding: 20px 0 10px 0;
  font-size: 25px;
}

.captionDescription {
  color: #949494;
  padding: 20px 10px;
  font-size: 16px;
  background-image: linear-gradient(to right, #3A5165, #030303);
  border-radius: 20px;
  margin-top: 15px;
}

#roadmap {
  background-image: url('/images/BG3-01.png');
}

.roadmapTitle {
  font-size: 100px;
  color: #fff;
  text-align: center;
}

.heading3 {
  padding-top: 0.25em;
}

.verticalTimelineElementContent {
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25), 0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;
  padding: 2em 3em !important;
}

.roadmapDate {
  color: rgb(201, 251, 255);
}

#description {
  margin: 1.5em 0 0 0;
}

.roadmapBtn {
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  color: white;
}

.workButton {
  background-color: #06D6A0;
}

.workButton:hover {
  background-color: #0AC593;
}

.schoolButton {
  background-color: #F9C74F;
}

.schoolButton:hover {
  background-color: #F3BC3C;
}

@media only screen and (max-width: 1700px) {
  .vertical-timeline-element-date {
    display: block !important;
    float: none !important;
    color: rgb(44, 44, 44);
    margin-top: 1.5em;
  }
}

.teamCaption {
  text-align: center;
  padding: 40px 0;
  font-size: 60px;
  z-index: 5;
  position: relative;
}

.teamCaptionSpan {
  padding: 10px 15px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.team {
  background-color: #2B2B2B;
  padding-bottom: 120px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('/images/bg-escape.png');
}

.teamContainer {
  margin: 0 auto;
  max-width: 1200px;
  color: #C3BDBC;
}

.teamImages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.teamImageCard {
  margin: 0 auto;
}

.team {
  position: relative;
}

.team .teamVid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.teamVideo {
  width: 350px;
}

.teamVideoContainer {
  position: relative;
}

.teamInnerBox {
  position: absolute;
  padding: 7px;
  background-color: rgba(24, 24, 24, 0.8);
  width: 90%;
  left: 5%;
  bottom: -30%;
}

.teamNestedInnerBox {
  padding: 10px 30px 30px;
  border: 1px solid #F5D456;
}

.memberName {
  font-size: 25px;
  color: #fff;
  margin-bottom: 10px;
  font-weight: bold;
}

.memberRole {
  font-size: 22px;
  color: #F5D456;
  line-height: 1.2;
}

.contactTitle,
.contactSubtitle {
  text-align: center;
}

.contactTitle {
  font-size: 20px;
  margin-bottom: 10px;
}

.contactSubtitle {
  font-size: 60px;
  font-weight: 900;
}

.contactForm {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  margin-top: 50px;
}

.contactInfoContainer {
  width: 100%;
}

.contactInfoBox {
  width: 100%;
  background-color: #212121;
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
}

.contactInfoBox:not(:first-of-type) {
  margin-top: 20px;
}

.contactIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #3D3D3D;
  border-radius: 50%;
  margin-right: 10px;
}

.verticalRule {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.formGroup:not(:first-of-type) {
  margin-top: 15px;
}

.formGroup input {
  margin-top: 10px;
  background: #212121;
  outline: none;
  border: none;
  padding: 15px 15px;
  color: #fff;
  border-radius: 5px;
}

.formGroup textarea {
  margin-top: 10px;
  background: #212121;
  outline: none;
  border: none;
  padding: 15px 15px;
  color: #fff;
  border-radius: 5px;
  height: 200px;
}

.contactBtn {
  padding: 10px 35px;
  background: #979291;
  color: #000000;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  margin-top: 15px;
  transition: all 0.5s ease-in-out;
}

.contactBtn:hover {
  background: #0AC593;
  color:rgb(44, 44, 44);
}

.connectMetamask {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.connectContainer,
.mintContainer {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 20px;
  text-align: center;
  line-height: 1.3;
  font-size: 22px;
}

.connectContainer {
  padding: 60px 150px;
}

.mintContainer {
  padding: 20px 150px;
}

.iconContainer {
  border-radius: 50%;
  padding: 30px;
  background-color: #EFEFEF;
  margin-bottom: 20px;
  display: inline-block;
  margin: 0 auto 20px;
  text-align: center;
}

.connectMetamaskBtn {
  padding: 15px 50px;
  border-radius: 40px;
  background-color: #FED9B0;
  border: 3px solid #2E1146;
  cursor: pointer;
  color: #2E1146;
  font-size: 25px;
  font-weight: bold;
}

.quantitySelectContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.minPlusButton {
  background-color: #FED2A2;
  padding: 5px 10px;
  border-radius: 5px;
}

.theNumber {
  margin: 0 10px;
}

.quantityContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  border: 3px solid #F884B8;
  border-radius: 5px;
}

.quantityContainer input {
  outline: none;
  border: none;
  text-align: right;
  padding-right: 10px;
}

.quantityContainer input::-webkit-outer-spin-button,
.quantityContainer input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.quantityContainer input[type=number] {
  -moz-appearance: textfield;
}

.innerContainer {
  width: 100%;
  background-color: #F884B8;
  padding: 10px 0;
  color: #fff;
}

.mintTitle {
  font-size: 45px;
  color: #2E1146;
  font-weight: bold;
  margin-bottom: 10px;
}

.mintSubtitle {
  color: #000000;
  font-weight: bold;
  margin-top: 20px;
}

.mintCondition {
  color: #000000;
  font-weight: bold;
  margin-bottom: 20px;
}

.ownedSupply {
  margin-bottom: 20px;
  font-weight: bold;
}

.mintTotalPrice {
  margin-top: 10px;
  margin-bottom: 30px;
}

.mintedSupply {
  margin-top: 20px;
}

.quantityOwned {
  font-weight: normal;
}

.mintingBtnContainer {
  margin-bottom: 10px;
}

.mintingBtn {
  position: relative;
  padding: 10px 20px;
  margin: 0 15px;
  color: #21ebff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
  transition: 0.5s;
  overflow: hidden;
  background-color: #888;
  -webkit-box-reflect: below 1px linear-gradient(trasparent, #0003);
}

.mintingBtn:hover {
  background: #21ebff;
  color: #111;
  box-shadow: 0 0 50px #21ebff;
  transition-delay: 0.5s;
}

.mintingBtn:hover::before {
  width: 98%;
  height: 95%;
  transition-delay: 0s;
}

.mintingBtn::before,
.mintBtnClicked::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-top: 2px solid #21ebff;
  border-left: 2px solid #21ebff;
  transition: 0.5s;
}

.mintingBtn::after,
.mintBtnClicked::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #21ebff;
  border-right: 2px solid #21ebff;
  transition: 0.5s;
}

.mintingBtn:hover::after {
  width: 98%;
  height: 95%;
  transition-delay: 0s;
}

.mintBtnClicked {
  position: relative;
  padding: 10px 20px;
  margin: 0 15px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
  transition: 0.05s;
  background: #21ebff;
  color: #111;
  box-shadow: 0 0 50px #21ebff;
}

.mintNone {

}

@media screen and (max-width: 500px) and (min-width: 0px) {
  .networkContainer {
    font-size: 15px;
  }

  .networkOuterLayer {
    padding: 20px;
  }

  .mintInfoGifs {
    grid-template-columns: 1fr 1fr;
  }

  .mintVideo {
    width: 180px;
  }

  .mintInfoPage {
    height: 140vh;
  }
}

@media screen and (max-width: 1040px) and (min-width: 501px) {
  .networkContainer {
    font-size: 15px;
  }

  .networkOuterLayer {
    padding: 10px
  }

  .mintInfoGifs {
    grid-template-columns: 1fr 1fr;
  }

  .mintInfoPage {
    height: 140vh;
  }
}

@media screen and (max-width: 1040px) and (min-width: 0px) {
  .logoName {
    display: none;
  }

  .insideNavbar {
    display: block;
    margin: 0 auto;
  }

  .navlinkContainer {
    justify-content: space-around;
  }

  .navlink {
    margin: 0;
  }

  .socialMediaContainer {
    position: absolute; 
    top: 45px;
  }

  .caption {
    font-size: 25px;
  }

  .secondCaption {
    font-size: 15px;
  }

  .navlink {
    font-size: 17px;
  }

  .navlink:not(:first-of-type) {
    margin-left: 0;
  }

  .navbar .connectWalletBtn {
    display: none;
  }

  .navbarImg {
    /* visibility: hidden; */
    display: none;
    width: 0;
    height: 0;
  }

  .wrapper:nth-child(even) {
    margin: 20px auto 0;
    width: 150px;
    height: 150px;
  }

  .wrapper:nth-child(odd) {
    display: none;
  }

  .aboutContainer .imgContainer {
    display: none;
  }

  .aboutCaptionContainer {
    /* margin: 50px 0 0 10px; */
    margin: 0 auto;
    padding: 20px 20px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .captionDescription {
    font-size: 15px;
  }

  .aboutContainer {
    max-width: 500px;
  }

  .roadmapTitle {
    padding-top: 20px;
    font-size: 50px;
  }

  .teamImages {
    display: grid;
    grid-template-columns: 1fr;
  }

  .teamImageCard:not(:last-of-type) {
    margin: 0 auto 130px;
  }

  .teamCaption {
    font-size: 30px;
  }

  .connectContainer {
    padding: 20px 40px;
  }

  .mintContainer {
    padding: 20px 40px;
  }

  .mintingBtnContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  .captionLogoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .discoverBtn {
    position: static;
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    margin-top: 20px;
  }

  #aboutPage {
    height: 130vh;
  }

  .mintVideo:first-of-type {
    margin: 0;
  }

  .mintVideo:last-of-type {
    margin: 0;
  }

  .connectContainer,
  .mintContainer {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 20px;
    text-align: center;
    line-height: 1.3;
    font-size: 15px;
  }

  .connectMetamaskBtn {
    padding: 15px 50px;
    font-size: 15px;
  }

  .imgMonkey {
    width: 30px
  }
}